.loginBlock {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border: 1px solid #F9C76A;
    width: 35%;
    max-width: 500px;
    min-width: 330px;
    margin: 0 auto;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title {
    display: block;
    margin: 0;
    font-weight: 600;
    color: #555555;
}

.input {
    display: block;
    width: 65%;
    padding: 10px 10px;
    margin-top: 25px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #F9C76A;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input.password {
    margin-bottom: 5px;
}
.input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #F9C76A;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(249, 199, 106, 0.25);
}
.button {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid #F9C76A;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #F9C76A;
    transition: .2s ease-in-out;
}
.button:disabled {
    background-color: white;
    cursor: unset;
}
.button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
.button:hover {
    background: #F9C76A;
    color: #fff;
}
.button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
.button:disabled {
    background-color: white;
    color: #F9C76A;
    cursor: unset;
}
.button:disabled:before {
    background: linear-gradient(90deg, rgba(249, 199, 106, .1), rgba(249, 199, 106, .5));
    color: #F9C76A;
    cursor: unset;
}

.errorBlock {
    height: 25px;
    font-weight: 500;
    color: red;
}


